<!DOCTYPE html>
<html>
{% load static %}
{% static "UsersImg" as imgs %}
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'css/mainfile.css' %}">
    <!-- <script src="{% static 'css/mainfile.css' %}"></script> -->
</head>
<body>
    <div id="div1">Your images will de displayed here</div>
    {% for i in modelall %}
        {% if i %}
            <img src="{{imgs}}/{{i.profile}}" alt="Image" class="img-fluid">
            <!-- <img src="{{ i.image.url }}" alt="Image" class="img-fluid"> -->
        {% else%}
            <div id="div2">Not displayed images</div>
        {% endif %}
    {% endfor %}
</body>
</html>